<h1 class="masthead">
    <nav class='language-nav'>
        <ul>
            <li><a href="#">CSS</a></li>
            <li><a href="#">HTML</a></li>
            <li><a href="#">Javascript</a></li>
            <li><a href="#">Ruby</a></li>
        </ul>
    </nav>


    <img class="logo" src="assets/AA_Times_Logo.png" alt="AA Times Logo">

    <ul class="masthead-links">
        <li>Tuesday, October 18, 2016</li>
        <li>
            <i class="paper-video">
                <a href="#">Today’s Paper</a>
            </i>
        </li>
        
        <li>
            <i class="paper-video">
                <a href="#">Video</a>
            </i>    
        </li>
        <li>77°F</li>
        <li><button>AAO<strong>+100%</strong></button></li>
    </ul>

</h1>