.game {
    display: flex;
    align-items: center;
}

.board {
    border: solid black 1px;
    width: 180px;
    height: 180px;
    display: block;
    margin: auto;
}

.row {
    display: flex;
}

.tile {
    border: solid darkgrey 1px;
    background-color: lightgray;
    color: orangered;
    width: 18px;
    height: 18px;
    text-align: center;
}

.unexplored {
    background-color: palevioletred;
}

.explored {
    background-color: palegreen;
}

.flagged {
    background-color: red;
}

.bombed {
    background-color: black;
}